body {
    background: #3d3d3d;
    padding: 2rem;
}

html,
body {
    height: 100%;
}

.tasks__row {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    justify-content: left;
}

.tasks__column {
    position: relative;
    min-height: calc(100vh - 4rem);
    min-width: 20%;
    max-width: 20%;
    padding: 0 1rem 2rem;
    align-items: stretch;
    align-content: stretch;
    margin: 0 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.16);
    /* border: 1px solid #000; */
}

.tasks__column-top-container {
    display: flex;
    padding: 0.5rem 0 1rem;
}

.tasks__column-top-container h5 {
    margin: 0;
    line-height: 36px;
}

.drag-handle {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: move;
    cursor: -webkit-grabbing;
    color: #fff;
    padding: 5px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
}

.add-column-btn {
    /* display: flex;
    margin: auto 0 auto 15px; */
    position: fixed;
    right: 10%;
    top: 50%;
}

.card-user-img {
    margin: 0 0 0 auto;
}

.card-bottom {
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    justify-content: space-between;
    width: 100%;
    margin-top: 1rem;
}

.card-bottom .badge {
    display: inline-flex;
    color: #fff;
}

/* #region Helpers */
.ml-a {
    margin-left: auto;
}

.ml-3 {
    margin-left: 3px;
}

.mr-5 {
    margin-right: 5px;
}

.fw-600 {
    font-weight: 600 !important;
}

.rounded {
    border-radius: 50%;
}

.d-none {
    display: none;
}

/* #endregion Helpers */

/* MaterializeCSS overrides */
#toast-container {
    top: unset;
    bottom: 10%;
}

.tasks__column .card {
    margin: 5px 0;
    position: relative;
}

.card.small {
    /* max-height: 100px; */
    min-height: 50px;
    height: unset;
}

.card-content {
    display: flex;
    flex-wrap: wrap;
}

.card-title,
.card p {
    width: 100%;
}

.btn {
    border-radius: 5px;
}

span.badge {
    height: unset;
    min-width: unset;
    padding: 0.4rem;
    border-radius: 5px;
    margin-left: 0;
}

span.badge>.material-icons {
    font-size: 20px;
    margin-top: 1px;
}

.select-dropdown>li>img {
    border-radius: 50%;
}

/* .modal{
    overflow: visible;
} */

/* Temporary workaround for broken modals */
.timepicker-modal,
.datepicker-modal{
    height: 100%;
}

/* label color */
.input-field label {
    color: #000;
}

/* label focus color */
.input-field input[type=text]:focus+label {
    color: #000;
}

/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}

/* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}

/* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}

/* icon prefix focus color */
.input-field .prefix.active {
    color: #000;
}